*{
padding:0;
margin:0;
}
body{
  background-color: rgb(232, 237, 234);
}
.isLoading{
  color:blue;
  margin-top:40px;
  margin-left: 40%;
}
.container{
  margin-top: 40px;
}
.userList{
  color:darkgreen;
  margin-left:40%;
}
input{
  margin-top: 12px;
  width: 30%;
  padding: 6px;
  border-radius:5px;
  border: 2px darkgreen solid;
  margin-left:30%;
}
.card{
  display: flex;
  flex-wrap: wrap;
  
}
.list{
 
  background-color:white;
  color:darkgreen;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
  box-shadow:0 8px 16px rgba(0, 0, 0, 0.3);
  cursor:pointer;
}
.list:hover{
  background-color:darkgreen;
  color: rgb(232, 237, 234);
  transition: .3s;
}
ul{
  padding: 20px;
}
li{
  list-style: none;
}

